@font-face {
    font-family: 'Superior title';
    src: url('https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e93de663338324ebd42639c_SuperiorTitle-Medium.woff2') format('woff2'), url('https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e93de6696104621467def90_SuperiorTitle-Medium.eot') format('embedded-opentype'), url('https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e93de66961046b5d17def91_SuperiorTitle-Medium.woff') format('woff'), url('https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e25238aacccd12e6712d7e8_Superior%20Title%20-%20Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Pitchsans Semibold';
    src: url('https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e8aa48a4fbaea249d25baf9_pitch-sans-web-semibold.woff2') format('woff2'), url('https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e8aa48bab1cf8da95a81c3c_pitch-sans-web-semibold.eot') format('embedded-opentype'), url('https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e8aa48bab1cf8da95a81c3c_pitch-sans-web-semibold.eot') format('embedded-opentype'), url('https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e8aa48bab1cf8da95a81c3c_pitch-sans-web-semibold.eot') format('embedded-opentype'), url('https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e8aa48a8a0cee09608541d8_pitch-sans-web-semibold.woff') format('woff'), url('https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e8aa48a8a0cee09608541d8_pitch-sans-web-semibold.woff') format('woff'), url('https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e2523cbc1ca1d0410436ffd_PitchSans-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Pitchsans Regular';
    src: url('https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e8aa5e7ab1cf843e0a81ef9_PitchSansWeb-Regular.woff2') format('woff2'), url('https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e8aa5e7f99d7c7d25778625_PitchSansWeb-Regular.eot') format('embedded-opentype'), url('https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e8aa5e74fbaea7b2d25bfa0_PitchSansWeb-Regular.woff') format('woff'), url('https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e2523ca5cbbd6ece025370b_PitchSans-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    color: #899D7A;
    letter-spacing: 0;
    background-color: #899D7A;
    background-repeat: no-repeat, repeat;
    background-size: 100%, auto;
    font-family: Pitchsans Regular, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.icon {
    position: absolute;
    height: 75px;
    top: 21px;
    left: 20px;


}
.header{
    height: 100px;
}


.navbar {
    position: absolute;
    top: 28px;
    right: 28px;
    margin: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin-left: 22px;
    font-family: 'Pitchsans Semibold', sans-serif;
    font-size: 20px;
    font-weight: 600;
}


.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "title number"
      "line line"
      "description description";
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 100px;
    padding-top: 75px;
    color: white;
}

.project-grid {

    display: grid;
    grid-template-areas:
      "title number"
      "line line"
      "description description";
    grid-template-columns: 6fr 2fr;
    align-items: start;
    justify-items: stretch;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
}

.project-title-area {
    grid-area: title;
    padding-top: 30px;
    font-size: 30px;
    font-family: Superior title, Times New Roman, sans-serif;
    position: relative;
    letter-spacing: 1px;
    line-height: 70px;

}

.project-title-area::after {
    content: '';
    position: absolute;
    right: -30px;
    top: 45px;
    bottom: 0px;
    width: 2px;
    background-color: #fff;
    z-index: 1;
}

.project-number-area {
    grid-area: number;
    text-align: right;
    padding-right: 35px;
    position: relative;
    top: 110px;
}


.white-line {
    grid-area: line;
    border: none;
    height: 2px;
    background-color: #fff;
    width: 550px;
    margin: -20px 0;
    position: relative;
    z-index: 0;
}

.project-description-area {
    grid-area: description;
    font-size: 22px;
}

@media (max-width: 768px) {
    .project-container {
        grid-template-columns: 1fr;
        grid-template-areas:
          "title"
          "number"
          "line"
          "description";
    }

    .project-number-area {
        text-align: center;
        padding-right: 0;
    }
}


.video-container {

    padding: 40px;
    flex-shrink: 0;
    width: 900px;
    height: auto;
}

.video-container video {
    width: 100%;
    height: auto;
    border: 10px white solid;
    border-radius: 20px;


}

.list{
    display: flex;
    overflow-x: auto;
}

.list2{
    display: flex;
    margin-top: 150px;
    overflow-x: auto;
}

.list4{
    display: flex;
    margin-top: 150px;
    margin-bottom: 100px;
    overflow-x: auto;
}


.bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
}


.bot{
    height: 75px;

}
.bot2{
    height: 60px;
    margin-bottom: 5px;

}

.bot:hover {
    filter: invert(73%) sepia(66%) saturate(2907%) hue-rotate(13deg) brightness(105%) contrast(95%);
}


.bot2:hover {
    filter: invert(31%) sepia(95%) saturate(3936%) hue-rotate(199deg) brightness(80%) contrast(100%);
}


@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1.5s ease forwards;
    animation-delay: 0.25s;
}


@keyframes reverseSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.icon {
    animation: reverseSpin 1.5s linear forwards;
}


@media only screen and (max-width: 768px) {
    .icon {
        height: 30px; /* smaller icon for mobile */
        top: 23px;
        left: 10px;
    }

    .header {
        height: 100px; /* adjust header size for mobile */
    }

    .navbar {
        top: 15px;
        right: 15px;
        margin: 10px;
    }

    .navbar a {
        margin-left: 15px;
        font-size: 12px; /* smaller font size for mobile */
    }

    .project-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
      "title number"
      "line line"
      "description description";
        max-width: 300px;
        margin: 50px auto;
        padding-left: 0px;
        padding-top: 15px;
        color: white;
    }

    .project-grid {

        display: grid;
        grid-template-areas:
      "title number"
      "line line"
      "description description";
        grid-template-columns: 6fr 2fr;
        align-items: start;
        justify-items: stretch;
        grid-column-gap: 0px;
        grid-row-gap: 10px;
    }

    .project-title-area {
        grid-area: title;
        padding-top: 15px;
        font-size: 10px;
        font-family: Superior title, Times New Roman, sans-serif;
        position: relative;
        letter-spacing: 1px;
        line-height: 20px;

    }

    .project-title-area::after {
        content: '';
        position: absolute;
        right: -15px;
        top: 25px;
        bottom: 8px;
        width: 2px;
        background-color: #fff;
        z-index: 1;
    }

    .project-number-area {
        grid-area: number;
        text-align: right;
        padding-right: 10px;
        position: relative;
        top: 25px;
    }

    .project-number{
        font-size: 15px;
        padding-left: 30px;
    }


    .white-line {
        grid-area: line;
        border: none;
        height: 2px;
        background-color: #fff;
        width: 100%;
        margin: -20px 0;
        position: relative;
        z-index: 0;
    }

    .project-description-area {
        grid-area: description;
        font-size: 10px;
        line-height: 20px;
    }


    .video-container {

        padding: 30px;
        flex-shrink: 0;
        width: 600px;
        height: auto;
    }

    .video-container video {
        width: 100%;
        height: auto;
        border: 10px white solid;
        border-radius: 20px;


    }

    .list{
        display: flex;
        overflow-x: auto;
    }

    .list2{
        display: flex;
        overflow-x: auto;
        margin-top: 50px;
    }

    .list4{
        display: flex;
        overflow-x: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }



}



